
<nav class="navbar">
    <div class=" ">
      <ul class="navbar-nav mr-auto">
        <li class="">
          <a class="nav-link" href="#" (click)="mostrarComponente('list')">Inicio</a>
        </li>
        <li class="">
          <a class="nav-link" href="#" (click)="mostrarComponente('list')">Artículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="mostrarComponente('template')">Nuevo artículo template</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="mostrarComponente('reactive')">Nuevo artículo reactivo</a>
        </li>
      </ul>
    </div>
  </nav>
  